html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
  padding: .4em .75em .3em;
  font-size: 1.125rem;
  border-radius: 8px;
  text-decoration: none;
  border: 3px solid #fff;
  display: inline-block;
  font-weight: bold;
}

.btn-primary-small,
.btn-subtle-small,
.btn-ghost-small,
.btn-warning-small {
  font-size: .875rem;
}

.btn-primary-big,
.btn-subtle-big,
.btn-ghost-big,
.btn-warning-big {
  font-size: 1.5rem;
}

.btn-primary {
  background-color: #333;
  color: #fff;
  border: 3px solid #333;
}

.btn-primary:hover {
  background-color: #666;
  color: #fff;
  border: 3px solid #666;
}

.btn-subtle {
  background-color: #ccc;
  color: #fff;
  border: 3px solid #ccc;
}

.btn-subtle:hover {
  background-color: #666;
  color: #fff;
  border: 3px solid #666;
}

.btn-ghost {
  background-color: #fff;
  color: #000;
  border: 3px solid #000;
}

.btn-ghost:hover {
  background-color: #666;
  color: #fff;
  border: 3px solid #666;
}

.btn-warning {
  background-color: #f33;
  color: #fff;
  border: 3px solid #f33;
}

.btn-warning:hover {
  background-color: #933;
  color: #fff;
  border: 3px solid #933;
}
